body {
  font-family: Times, TimesNR, 'New Century Schoolbook',
  Georgia, 'New York', serif;
}
body,div,td,span,a {
  font-size: 17px;
  color:#4a4a4a;
}
h1 {
  font-size:48px;
  font-weight:900;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
.m-t-30 {
  margin-top:30px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.color-gray, a.color-gray, .color-gray a {
  color: #4a4a4a !important;
}
.clearfix {
  clear: both;
}
#site-nav {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  font-size: 17px;
  z-index: 10000;
}
#site-nav a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}
#site-nav > div > span {
  color: #fff;
}
#site-nav > .site-name{
  margin: 30px 60px;
  float: left;
}
@media screen and (max-width: 768px) {
#site-nav > .site-name {
  margin: 30px 0px 30px 30px;
}
}

#site-nav > ul.site-links {
  list-style-type: none;
  margin: 30px 50px 30px 0px;
  float:right;
  display: block;
}
#site-nav > ul.site-links li {
  display: inline;
  margin: 0px 0px 0px 60px;
}
#site-nav > .site-menu {
  float: right;
  margin: 30px 50px;
  display: none; 
}
@media screen and (max-width: 768px) {
#site-nav > ul.site-links {
  display: none;
}
#site-nav > .site-menu {
  display: block;
  margin-right: 30px;
}
}
#site-links-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 90px;
  background-color: #fff;
  height: 100%;
  box-shadow: -3px 0px 10px #9b9b9b;
  z-index: 10001;
  display: none;
}
#site-links-mobile > ul {
  list-style-type: none;
  margin: 30px;
  padding: 0px;
}
#site-links-mobile > ul > li {
  line-height: 2.0;
}
#site-links-mobile > ul > li > a {
  color: #4a4a4a;
}
#site-links-mobile > .site-links-mobile-close {
  display: block;
  margin: 30px 30px 0px 30px;
  padding: 0px;
  float: right;
  color: #9b9b9b;
}
#site-links-mobile > .site-links-mobile-close > a {
  color: #9b9b9b;
}
#article-header {
    width:100%;
    height:100%;
    background-color: #c3c3c3;
    position:absolute;
    text-align:center;
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
@media screen and (max-width: 768px) {
#article-header {
  text-align:left;
}
}
#article-header h1 {
    margin: 30px 50px;
    color: #fff;
}
@media screen and (max-width: 768px) {
#article-header h1 {
  margin:17px 30px;
}
}
#article-header h3 {
    margin: 30px 50px;
    color: #fff;
}
@media screen and (max-width: 768px) {
#article-header h3 {
  margin:30px 30px;
}
}
#article-header #article-header-gradient {
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    height:316px;
    background-image: url('images/header-gradient.png');
    background-repeat: repeat-x;
}
#article-header #article-header-container {
    position: absolute;
    bottom:0px;
    left: 0px;
    right: 0px;
}
#article-header #article-header-container .category-mobile {
  margin: 30px;
  padding: 3px;
  background-color: #4a90e2;
  color: #fff;
  display: none;
}
#article-header #article-header-container .article-header-category-title-line {
  margin: 20px 30px 17px 30px;
  height: 1px;
  background-color: #fff;
  display: none;
}
@media screen and (max-width: 768px) {
#article-header #article-header-container .category-mobile { 
  display: inline;
}
#article-header #article-header-container .article-header-category-title-line {
  display: block;
}
}
#article-header #article-header-container h1 .category-desktop {
    background-color: #4a90e2;
    color:white;
    font-size:14px;
    padding: 3px;
    position: absolute;
    display:inline;
    top: 20px;
}

@media screen and (max-width: 768px) {
#article-header #article-header-container h1 .category-desktop {
    display:none;
}
}
#article-header .publish-date {
    color: #9b9b9b;
    margin: 30px 50px;
}
@media screen and (max-width: 768px) {
#article-header .publish-date {
    margin: 30px 30px;
}
}
#article-content {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    min-height: 200px;
    padding: 30px 0px 0px;
}
@media screen and (max-width: 768px) {
#article-content {
  padding: 0px 0px;
}
}

#article-content > p, #article-content > div, #article-content > ul,
  #article-content > ol,
  #article-content > pre {
    margin: 30px auto;
    padding: 0px 60px;
    max-width: 800px;
    line-height: 2.3;
    float: none;
}
@media screen and (max-width: 768px) {
#article-content > p, #article-content > div, #article-content > ul,
  #article-content > ol,
  #article-content > pre {
    margin: 30px auto;
    padding: 0px 30px;
    max-width: 768px;
} 
}
#article-content > ul, #article-content > ol {
  list-style-position: inside;
}
#article-content > p {
}
@media screen and (max-width: 768px) {
#article-content > p {
}
}
#article-content > blockquote {
    font-size: 24px;
    text-align: center;
    margin: 60px auto;
    font-style: italic;
    line-height: 2;
    padding: 0px 10px;
}
@media screen and (max-width: 768px) {
#article-content > blockquote {
  margin: 30px auto;
  padding: 0px 3px;
}
}
code {
  word-break: break-all;
  background-color: rgba(155, 155, 155, 0.1);
  padding: 3.0px;
}
#article-content pre {
  /*background-color: rgba(155, 155, 155, 0.1);*/
}
#article-content pre > code {
  display: block;
  padding: 5px;
  font-size: 14.0px;
  line-height: 1.5;
  overflow: auto;
}
@media screen and (max-width: 768px) {
#article-content pre {
}
}
#article-content > h2,#article-content > h3,#article-content > h4  {
    text-align:center;
    margin:60px 60px;
}
@media screen and (max-width: 768px) {
#article-content > h2,#article-content > h3,#article-content > h4  {
    margin: 30px 30px;
}
}
#article-content img {
    margin: 60px auto;
    display: block;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
#article-content img{
  margin: 30px auto;
}
}

#article-content, #article-content-body {
  word-break: break-word;
}

#article-content .article-author {
    text-align: center;
}
@media screen and (max-width: 768px) {
#article-content .article-author {
}
}
#article-content .article-author .article-author-avatar img {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  margin-top:0px;
  margin-bottom: 0px;
}
#article-content .article-author .article-author-social img {
  margin: 0px 0px;
  display: inline;
  max-width: auto;
}
#article-content .article-author p {
    margin: 20px auto;
    color: #9b9b9b;
}
#article-content .article-author ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -35px;
}
#article-content .article-author ul li {
  display:inline;
  margin-left: 35px;
  margin-right: 0px;
}
#article-content .article-author ul li a {
}
#article-content .article-navigation {
  margin-top: 60px;
  margin-bottom: 60px;
}
#article-content .article-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2.0;
}
#article-content .article-navigation ul li.next {
  float: left; 
}
#article-content .article-navigation ul li.previous {
  float: right;
}
@media screen and (max-width: 768px) {
#article-content .article-navigation ul li.next {
  float: none; 
}
#article-content .article-navigation ul li.previous {
  float: none;
}
}
#article-content .article-navigation ul li, #article-content .article-navigation ul li a {
  color: #9b9b9b;
}
#article-content #disqus_thread {
  margin-top: 60px;
}
#article-content .jiathis_style {
  margin-top: 60px;
}
.footer {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  color: #9b9b9b;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
.footer {
  text-align: left;
}
}
#archive {
  margin: 35px auto;
  max-width: 800px;
  text-align: center;
}
#archive h1 {
  margin: 237px 30px 35px 30px;
  text-align: center;
}
#archive h2 {
  margin: 35px;
  font-size: 24px;
  font-weight: 700;
}
#archive h3 {
  font-size: 17px;
  font-weight: 400;
  margin: 0px;
}
#archive p {
  font-size: 17px;
  font-weight: 400;
  margin: 0px;
  line-height: 2;
}
#archive .archive-year {
}
#archive .archive-year .line-year {
  margin: 35px auto;
  max-width: 300px;
  height: 1.0px;
  background-color: #4a4a4a;
}
@media screen and (max-width: 768px) {
#archive .archive-year .line-year {
  max-width: 200px;
}
}

#archive .article-list-item {
  margin: 35px 0px;
  padding-left: 35px;
  padding-right: 35px;
}
#archive .article-list-item p.subtitle,#archive .article-list-item p.subtitle a {
  margin: 0px auto;
  font-size: 17px;
  color: #9b9b9b;
  font-weight: 400;
  max-width: 400px;
  text-decoration: none;
}
#archive .article-list-item p.publish-date {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 400;
}
