*.DS_Store
Thumbs.db
_output
output
*.pyc
*.log
*.swp
*.swo
*kana/static/thumbs*
*/test/*
db/*
*/static/photos/*
*/static/logs/*
*/static/headers/*
*/static/articles/*
*/static/input/*
static/*
node_modules/*
dev/*
dev-mc/*
dev-wx/*
*/assets/*
gruntfile.js
GruntFile.js
grunt/*
package.json
bower.json
.bowerrc
api/*
