<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="vTaWd72F_kJY6mNbfoCQuutuGdH1kSsg7o3F31b3wgg" />
  <meta name="baidu-site-verification" content="6rfk66K9Nk" />
  {% if article.article_title %}  
  <title>{{ article.article_title }}</title>
  {% else %}
  <title>{{ article.site_title }}</title>
  {% endif %}
  <meta name="author" content="{{ article.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ theme_dir }}/vendor/normalize.css">
  <script src = "{{ theme_dir }}/vendor/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ theme_dir }}/layout.css">
  <link rel="alternate" type="application/rss+xml" title="{{ article.site_title }}" href="feed.xml">
   <style type="text/css">
    {% for (selector,value) in d_css.items() %}
    {{ selector }} {{value}}
    {% endfor %}
    {% if article.article_cover_photo %}
    #article-header {
      background-image:url('{{ article.article_cover_photo }}');
    }
    {% endif %}
  </style>  
</head>
<body>
  <div id="layout-container">
    <div id = 'site-nav'>
      <div class = 'site-name'><span class = 'site-name-desktop'><a href = 'index.html'>{{ article.site_title }}</a></span><span class = 'site-name-mobile'><a href = 'index.html'>{{ article.site_title_mobile  }}</a></span></div>
      <ul class = 'site-links'>
        {% for link in article.site_links %}
        <li><a href = '{{ link['url'] }}'>{{ link['title'] }}</a></li>
        {% endfor %}
      </ul>
      <div class = 'site-menu'>
        <a href='#'><img src= '{{ theme_dir }}/images/menu-gray.png'/></a> 
      </div>
      
    </div>
    <div id = 'site-links-mobile'>
      <a class = 'site-links-mobile-close' href = '#'>close</a>
      <div class="clearfix"></div>
      <ul>
        {% for link in article.site_links %}
        <li><a href = '{{ link['url'] }}'>{{ link['title'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class ='clearfix'></div>
    <div id ='article-header'>
      <div id = 'article-header-container'>
        {% if article.article_cover_photo %}
        <img src = '{{ article.article_cover_photo }}'/>
        {% endif %} 
        <img src = 'http://7vihfk.com1.z0.glb.clouddn.com/photo-1451188502541-13943edb6acb.jpeg' class='head-photo'/>
        {% if article['article_category'] %}
        {% endif %}
        <div class = 'article-header-category-title-line'></div>
        <h1 class = 'post-title'>
          {{ article.article_title or 'Title' }}
        </h1>
        {% if article.article_subtitle %}
        <h3 class = 'post-subtitle'>{{ article['article_subtitle'] }}</h3>
        {% endif %}
        <p class = 'publish-date post-meta'>{{ article['author'] }} 发布于 {{ article['article_publish_date'] }}, {{article.article_category}}</p>
      </div>
    </div> 
    <div id="article-content" class = 'post'>
      <div id="article-content-body" class = 'post'>
        {{ article._article_html }}
      </div> 
      <div class = 'article-author'>
        <div class = 'article-author-avatar'>
          {% if article["author_avatar"] %}
          <a href=''><img src='{{ article["author_avatar"] }}'/></a> 
          {% else %}
          <p>作者</p>
          {% endif %}
        </div>   
        <p class = 'm-t-30'>
          {{ article['author'] }} 
        </p>
        {% if article['author_status'] %}
        <p>
          {{ article['author_status'] }}
        </p>
        {% endif %}
        <div class = 'clearfix'></div>
        <div class = 'article-author-social'>
          <ul>
            {% if article['author_weibo'] %}
            <li><a href = '{{ article["author_weibo"] }}'><img src = '{{ theme_dir }}/images/sina-weibo.png'/></a></li> 
            {% endif %}
            {% if article['author_github'] %}
            <li><a href = '{{ article["author_github"] }}'><img src = '{{ theme_dir }}/images/github.png'/></a></li> 
            {% endif %}
            {% if article['author_instagram'] %}
            <li><a href = '{{ article["author_instagram"] }}'><img src = '{{ theme_dir }}/images/instagram.png'/></a></li> 
            {% endif %}
            {% if article['author_twitter'] %}
            <li><a href = '{{ article["author_twitter"] }}'><img src = '{{ theme_dir }}/images/twitter.png'/></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="article-navigation">
        <ul>
          {% if article._next_article %}
          <li class = 'next'>上一篇: <a href = '{{ article._next_article.article_link }}'> {{ article._next_article.article_title }}</a></li> 
          {% endif %}
          {% if article._previous_article %}
          <li class = 'previous'>下一篇: <a href = '{{ article._previous_article.article_link }}'>{{ article._previous_article.article_title }}</a></li> 
          {% endif %}
        </ul>
      </div>
      <div class="clearfix"></div>
      {% if article["article_comments"] == 1%}
      <div id="disqus_thread"></div>
      <script>
      /**
      * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
      */
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//adowblog.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
      <div class = 'footer'>
        Powered by MING 
      </div>
    </div>
  </div>
</body>
<script type = 'text/javascript'>
window.onscroll = function(){
  var document_top = document.documentElement.scrollTop;
  var body_top = document.body.scrollTop;
  //console.log(document_top.toString() + ',' + body_top.toString());
  var site_nav = $('#site-nav');
  if (body_top >= 100.0) {
    site_nav.css('visibility','hidden');
  }
  else {
    site_nav.css('visibility','visible');
  }
};

$(document).ready(function(){

  $('.site-menu').click(function(){
      var site_links_mobile = $('#site-links-mobile');
      site_links_mobile.css('display','block');
      });
  $('.site-links-mobile-close').click(function(){
      var site_links_mobile = $('#site-links-mobile');
      site_links_mobile.css('display','none');
      });
  /// resize images when resize window
  $(window).resize(function(){
      var screen_width = $(window).width() 
      //console.log(screen_width);
      var img_list = $('#article-content p img');
      img_list = [].slice.call(img_list);
      for (var a in img_list) {
        var img_dom = img_list[a];
        var img = $(img_dom);
        resize_img(img); 
      }
      });

  /// resize images when loaded
  var img_list = $('#article-content p img');
  img_list = [].slice.call(img_list);
  for (var a in img_list) {
    var img_dom = img_list[a];
    var img = $(img_dom);
    img.load(function(){
        resize_img($(this)); 

    });
  }
});




function resize_img(img){
  var screen_width = $(window).width();
  var p = img.parent();
  var natural_width = img[0].naturalWidth;
  if (screen_width < natural_width ){
    var p_width = p.width();
    var padding = (screen_width - p_width) / 2.0;
    img.css('width',screen_width)
      .css('max-width','none')
      .css('margin-left', -1.0 * padding)
      .css('margin-right',-1.0 * padding)
      ;
    img.parent().css('max-width','none');
  }
  else {
    img.css('max-width','100%')
      .css('margin-left','auto')
      .css('margin-right','auto');
    var p_max = screen_width > 768.0 ? '800.0' :'768.0';
    img.parent().css('max-width',p_max);
  }
}
</script>
</html>
