<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>20171103-ps4-in-box.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>531333071.51657897</real>
				<key>lastModification</key>
				<real>531333071.51657897</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>_about.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08062899</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>_ming.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08062798</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>awpromise.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08063197</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>awsqlitedb.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08063</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>hard-mode.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08063102</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>nsurlcache.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08063197</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>secrecy-swift.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08062702</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>tools-2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08063</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>uitableview.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332018.08063102</real>
				<key>version</key>
				<dict>
					<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>531331997.054672</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>secrecy-swift.md</string>
		</array>
		<array>
			<string>_ming.md</string>
		</array>
		<array>
			<string>20171103-ps4-in-box.md</string>
		</array>
		<array>
			<string>_about.md</string>
		</array>
		<array>
			<string>awsqlitedb.md</string>
		</array>
		<array>
			<string>tools-2016.md</string>
		</array>
		<array>
			<string>uitableview.md</string>
		</array>
		<array>
			<string>hard-mode.md</string>
		</array>
		<array>
			<string>nsurlcache.md</string>
		</array>
		<array>
			<string>awpromise.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Wikipedia</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
			<integer>6</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>73d5d9d17a951b6ac724a7ef7aef4c5678b8202721024d7e740f6d69a89cb6d1</key>
			<integer>23</integer>
		</dict>
	</dict>
</dict>
</plist>
